body{
    background-color: #333;
    font-size: 15px;
    color:#ff00ff
}
.diw{
    width: 500px;
    height: 300px;
    border: 2px solid #FF1aFF;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.przyklad1{
    overflow: auto;
    border-top: 5px solid #ff0000;
    padding: 100px;
    margin: 20px 30px 40px 50px;
}
.przyklad2{
    margin: 140px
}